* {
    margin: 0;
}

.header{
	width: 100%;
	height: 600px;
	display: flex;
	background-size: cover;
	text-align: left;
}

.text-container p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#fffffff3;
	font-size:22px;
	margin-left: -120px;
	margin-top: 20px
}
.text-container p:nth-child(2){
	font-family:calibri;
	font-weight:bold;
	color:#fffffff3;
	font-size:60px;
	margin-left: -120px;
	
}

.text-container{
	margin-top: 200px;
	margin-bottom: 100px;
	margin-right: 0px;
	margin-left: 580px;
	line-height: 45px;

}

.about-text{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 0%;
	margin-left: 0%;
	text-align: center;
} 
.about-text p:nth-child(1){
	color:#403e3e;
	font-family: calibri;
	font-weight:bold;
	font-size:25px;
	line-height:100px;
}

.about-text p:nth-child(2){
	color:#7e7d7d;
	font-family:calibri;
	font-size:18px;
	width: 40%;
	margin: 0 auto;
}


.projects{
	width: 100%;
	height:600px;
	background-color:#ffffff;
	align-items: center;
}

.projects-header{
	width: 100%;
	text-align: center;
}

.projects-header p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#1d1c1c;
	font-size:25px;
	line-height:100px;
}

.box-container{
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.box-1{
	width: 300px;
	height:320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;

}
 
.box-1 p:nth-child(1){
	width:160px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: calibri;
	line-height: 0px;
	font-weight: bold;
	margin: 60px auto 10px auto;
}
.box-1 p:nth-child(2){
	font-family: calibri;
	color:#8F8F8F;
	text-align:center;
	height: 40px;
	width: 230px;
	margin: 0px 0px 10px 0px;
}

.box-1 button{
	width:100px;
	height:35px;
	font-weight: bold;
	color: #ffffff;
	background-color:#313131;
	border: none;
	outline: none;
	border-radius:5px;
	margin: 50px 0px 0px 0px;
}

.box-1 button:hover {
	background-color:#ffffff;
	border:2px solid #313131;
	color:#313131;
}

.box-2{
	width: 300px;
	height:320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 7.5% auto;	
}
 
.box-2 p:nth-child(1){
	width:160px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: calibri;
	line-height: 0px;
	font-weight: bold;
	margin: 60px auto 10px auto;
}
.box-2 p:nth-child(2){
	font-family: calibri;
	color:#8F8F8F;
	text-align:center;
	height: 40px;
	width: 230px;
	margin: 0px 0px 10px 0px;
}

.box-2 button{
	width:100px;
	height:35px;
	font-weight: bold;
	color: #ffffff;
	background-color:#313131;
	border: none;
	outline: none;
	border-radius:5px;
	margin: 50px 0px 0px 0px;
}

.box-2 button:hover {
	background-color:#ffffff;
	border:2px solid #313131;
	color:#313131;
}
 
@media (min-width: 400px) {
	.header{
		background-image: url("/images/profile_mobile.jpg");
		height: 700px;
		align-items: center;
	}
	.text-container{
		margin-bottom: 760px;
		margin-right: 50%;
		margin-left: 50%;
		line-height: 45px;
	
	}
}

@media (min-width: 700px) {
	.header{
		background-image: url("/images/profile_tablet.jpg");
	}
	.text-container{
		margin-top: 0px;
		margin-bottom: 400px;
		margin-right: 0px;
		margin-left: 180px;
		line-height: 45px;
	
	}
	.box-container{
		flex-direction: unset;
	}
	.box-1{
		margin: 0 2.5% 0 20%;	
	}
	.box-2{
		margin: 0 20% 0 2.5%;	
	}
}

@media (min-width: 1250px) {
	.header{
		background-image: url("/images/profile_base.jpg");
	}
	.text-container{
		margin-top: 50px;
		margin-bottom: 100px;
		margin-right: 0px;
		margin-left: 32%;
		line-height: 45px;
	
	}
	.box-1{
		margin: 0 2.5% 0 30%;	
	}
	.box-2{
		margin: 0 30% 0 2.5%;	
	}
}
